  <footer>
    <div class="display__container--box">
      <div class="footer__reach">
        <div class="footer__about__wrapper">
          <div class="footer__about">
            <h5 class="title">Get Started Today</h5>
            <p>Let's discuss how we can help your business grow</p>
          </div>
          <div class="footer__social">
            <div class="title">Follow us</div>
            <ul>
              <li>
                <a href="https://www.linkedin.com/company/searchmadarth/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 50 50">
                    <path fill="#fff"
                      d="M18.896 17.174c0 1.2-.966 2.174-2.157 2.174a2.165 2.165 0 0 1-2.156-2.174c0-1.2.965-2.174 2.156-2.174 1.191 0 2.157.974 2.157 2.174Zm.017 3.913h-4.348V35h4.348V21.087Zm6.94 0h-4.32V35h4.322v-7.303c0-4.061 5.242-4.393 5.242 0V35h4.338v-8.81c0-6.852-7.759-6.602-9.581-3.23v-1.873Z" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/searchmadarth/" target="_blank"><svg
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 50 50">
                    <path fill="#fff"
                      d="M20.858 15.07c-1.064.05-1.79.22-2.425.47-.658.256-1.215.6-1.77 1.156a4.898 4.898 0 0 0-1.15 1.772c-.246.637-.413 1.364-.46 2.429-.047 1.064-.057 1.407-.052 4.122.005 2.716.017 3.056.069 4.123.05 1.064.22 1.79.47 2.426.256.657.6 1.214 1.156 1.769a4.894 4.894 0 0 0 1.774 1.15c.636.245 1.363.413 2.428.46 1.064.046 1.407.057 4.122.052 2.715-.005 3.056-.017 4.123-.068 1.066-.05 1.79-.221 2.425-.47a4.901 4.901 0 0 0 1.769-1.156 4.9 4.9 0 0 0 1.15-1.774c.246-.636.413-1.363.46-2.427.046-1.067.057-1.408.052-4.123-.006-2.715-.018-3.056-.068-4.122-.05-1.067-.22-1.79-.47-2.427a4.91 4.91 0 0 0-1.156-1.769 4.88 4.88 0 0 0-1.773-1.15c-.637-.245-1.364-.413-2.428-.46-1.065-.045-1.407-.057-4.123-.052-2.716.005-3.056.017-4.123.069Zm.117 18.078c-.975-.043-1.504-.205-1.857-.34-.467-.18-.8-.398-1.152-.746a3.08 3.08 0 0 1-.75-1.149c-.137-.352-.302-.881-.347-1.856-.05-1.054-.06-1.37-.066-4.04-.006-2.67.004-2.986.05-4.04.042-.974.205-1.504.34-1.857.18-.468.397-.8.746-1.152a3.087 3.087 0 0 1 1.149-.75c.352-.137.881-.3 1.856-.347 1.054-.05 1.37-.06 4.04-.066 2.67-.006 2.986.004 4.041.05.974.043 1.505.204 1.857.34.467.18.8.397 1.151.746.352.35.568.682.75 1.15.138.35.302.88.348 1.855.05 1.054.062 1.37.066 4.04.005 2.669-.004 2.986-.05 4.04-.043.975-.205 1.504-.34 1.857a3.1 3.1 0 0 1-.747 1.152c-.349.35-.682.567-1.148.75-.352.137-.882.301-1.855.347-1.055.05-1.371.06-4.041.066-2.671.006-2.986-.005-4.04-.05Zm8.152-13.493a1.2 1.2 0 1 0 2.4-.003 1.2 1.2 0 0 0-2.4.003Zm-9.262 5.355a5.134 5.134 0 1 0 10.269-.02 5.134 5.134 0 0 0-10.269.02Zm1.802-.004a3.334 3.334 0 1 1 6.667-.013 3.334 3.334 0 0 1-6.667.013Z" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="ttps://www.facebook.com/searchmadarth" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 50 50">
                    <path fill="#fff"
                      d="M29.647 21.476h-3.165V19.4c0-.78.516-.961.88-.961h2.234v-3.427L26.52 15c-3.415 0-4.192 2.556-4.192 4.192v2.284h-1.975v3.532h1.975V35h4.154v-9.992h2.802l.363-3.532Z" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__address__wrapper">
          <div class="footer__address">
            <div class="title">Navigation</div>
            <nav>
              <a href="../">Home</a>
              <a href="../digital.html">Digital</a>
              <a href="../design.html">Design</a>
              <a href="../development.html">Development</a>
              <a href="../case-study.html">Case Studies</a>
              <a href="../algorithm-updates.html">Algorithm Updates</a>
              <a href="../blog.html">Blogs</a>
              <a href="../contact.html">Contact</a>
            </nav>
          </div>
          <div class="footer__address">
            <div class="title">Get in touch</div>
            <a class="emailLink" href="mailto:business@madarth.com">E: business@madarth.com</a>
            <a href="tel:+916374115422">T: +91 63741 15422</a>
            <address>
              4, Alamelu Manga Puram Rd, <br />Mylapore, Chennai, <br />Tamil
              Nadu
              <br />
              600004
            </address>
          </div>
        </div>
      </div>
      <div class="footer__copy-policy">
        <ul>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookies Policy</a></li>
        </ul>
        <p>&copy; <span id="copyRightYear"></span> SearchMADARTH<sup>®</sup> | All rights reserved.</p>
      </div>
    </div>
  </footer>